<!-- student entry for -->
<form>
  <div class="form-group">
    <label for="stdId">Student's ID</label>
    <input type="number" class="form-control" id="stdId" placeholder="student id" required>
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" placeholder="first name">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" placeholder="last name">
  </div>

  <div class="form-group">
    <label for="lastName">Select Class</label>
    <select class="form-select" aria-label="Default select example">
      <option value="" selected>select class</option>
      <option value="One">One</option>
      <option value="Two">Two</option>
      <option value="Three">Three</option>
      <option value="Four">Four</option>
      <option value="Five">Five</option>
      <option value="Six">Six</option>
      <option value="Seven">Seven</option>
      <option value="Eight">Eight</option>
      <option value="Nine">Nine</option>
      <option value="Ten">Ten</option>
      <option value="Eleven">Eleven</option>
      <option value="Twelve">Twelve</option>
    </select>
  </div>
  <div class="btnSubmit">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>