<div class="container">
  <div class="mt-4 dashboard">
    <div class="row">
      <div class="col-md-12">
        <h4>Library Management System(LMS)</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 left-content">
          </div>
          <div class="col-md-8 mid-content">
            <div class="row">
              <div class="col-md-12">
                <!-- Router Section -->
                <router-outlet></router-outlet>
                <!-- Router Section End -->
              </div>
            </div>
          </div>
          <div class="col-md-2 right-content">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar right-menu">
                  <div class="container-fluid">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="welcome-message">Dashboard</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="book-issue">Book Issue</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="book-return">Book Return</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="book-entry">Book Entry</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="book-update">Book Update</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="free-book-list">Free Books</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="issued-book-list">Issued Books</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="student-entry">Student Entry</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>